/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/signup/signup.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.signup_container__VHxSu {
    height: calc(100% * 14 / 15);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    overflow-y: auto;
  }
  @media (max-height: 800px) {
    .signup_container__VHxSu {
      align-items: flex-start; 
      padding-top: 2rem;
    }
  }
  .signup_signupBox__YQEsh {
    background: var(--bg-login-color);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .signup_title__f_fv7 {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 20px;
  }
  
  .signup_form__Y53Ho {
    display: flex;
    flex-direction: column;
  }
  
  .signup_inputGroup__sA_ms {
    text-align: left;
    margin-bottom: 15px;
  }
  
  .signup_inputGroup__sA_ms label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--text-inputGroupLabel-color);
    margin-bottom: 5px;
  }
  
  .signup_inputGroup__sA_ms input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .signup_submitButton__iTN9E {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .signup_submitButton__iTN9E:hover {
    background-color: #0056b3;
  }
  .signup_idenButtonContainer__kpNgx {
    display: flex; /* 가로로 배치 */
    justify-content: space-between; /* 버튼 간의 간격을 자동으로 설정 */
    align-items: center; /* 수직 정렬을 가운데로 설정 */
  }

  .signup_idenButton__4v7SB {
      width: 48%; /* 버튼의 너비를 조정해서 간격을 조금 두기 */
      padding: 10px;
      margin:1%;
      background-color: #DDDDDD;
      color: black;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
      transition: background 0.3s, color 0.3s;

  }
  
  .signup_idenButton__4v7SB:hover {
    background-color: #0056b3;
    color: white;
  }

  .signup_loginText__1SEgh {
    font-size: 14px;
    color: #666;
    margin-top: 15px;
  }
  
  .signup_loginLink__EPNvE {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup_loginLink__EPNvE:hover {
    text-decoration: underline;
  } 
  
  .signup_socialLogin__bBaWz{
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
    margin-block: calc(var(--spacing) * 4);
    text-align: center;
    color : var(--text-socialLogin-color);
  }
  .signup_helpLogin__U1pYK, .signup_createAccount__nfq1W{
    color : var(--text-help-login-color);
  }
  .signup_helpLogin__U1pYK:hover, .signup_createAccount__nfq1W:hover{
    text-decoration-line: underline;
  }
  .signup_loginText__1SEgh{
    color : var(--text-color);
  }
  .signup_projectName__lr0LL {
    width: 30%;
    overflow-y: scroll;
    color: black;
  }
  
  .signup_projectName__lr0LL::-webkit-scrollbar {
    display: none;
  }
  .signup_projectListColor__xZ3I4{
    filter :var(--projectColor);
  }
