@import "tailwindcss";


* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

.board {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
}

.column {
  background: rgb(234, 234, 234);
  padding: 15px;
  min-width: 300px;
  min-height: 400px;
  max-height: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
  overflow-y: auto;
}

.card {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  margin-bottom: 10px;
}
.card-selected {
  background: rgb(50, 255, 47);
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  margin-bottom: 10px;
}
.card:hover {
  background-color: #AAA;
  cursor: pointer;
}
.login{
  background: white;
  padding: 10px;
  width: 80px;
  min-height: 40px;
  border-radius: 10px;
  font-size: 1.2em;
}
.login:hover{
  background-color: #AAA; 
  cursor:pointer;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

